moc_*.cxx
qrc_*.cxx
cmake_install.cmake
cmake_uninstall.cmake
Makefile
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
lib*.so
lib*.so.*
*.lo
*.o
*.Plo
*.a
*.la
*.Po
.libs
ui_*.h
*.qm
*~
*.autosave
CMakeLists.txt.user*
/build
syntax: glob

# Backup files
*~

#Builds files
Debs/*

mac/mac-*/config.log
mac/mac-*/config.status
mac/mac-*/libtool
mac/mac-*/src/Console/mac
mac/mac-*/src/Examples/Analyze/Sample1/Sample1
mac/mac-*/src/Shared/config.h
mac/mac-*/src/Shared/stamp-h1
